body {
    font-family: "Poppins", sans-serif;
    background: #12101D;
    color: white;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.3);
    margin: 0;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-top: 7px;
    margin-bottom: 18px;
}

main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 24px;
}

.text-center {
    text-align: center;
}

.hero {
    background-image: linear-gradient(rgba(15, 13, 27, 0.6), rgba(15, 13, 27, 0.6)), url("../images/emiliano-bar-kheTI8pIywU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
}

.hero h1 {
    font-weight: 700;
    font-size: 96px;
    margin: 30px 0;
}

.hero h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5px;
    margin: 0;
}

.hero h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
}

.hero a {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #272044;
    padding: 15px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    background: white;
    display: inline-block;
}

section,
.footer-grid {
    padding: 80px 30px;
}

section.secondary {
    background: #181525;
}

.grid {
    display: grid;
    justify-self: center;
    align-self: center;
}

.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 64px;
}

img {
    width: 100%;
    display: block;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.grid-3-columns h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
}

.grid-3-columns h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}

.card {
    background: #272435;
    margin: 30px 0;
}

.card-header.grid {
    grid-gap: 0;
}

.embed {
    width: 100%;
    aspect-ratio: 1 /1;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-align: center;
    background: #462CB2;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 16px;
}

.grid-3-columns-footer {
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 64px;
}

footer {
    background-image: linear-gradient(rgba(15, 13, 27, 0.9), rgba(15, 13, 27, 0.9)), url("../images/new-york-city-skyline-panorama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}

footer a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 900px) {
    .hero {
        padding: 60px 0;
    }

    .hero h1 {
        font-size: 45px;
        margin: 10px 0;
    }

    .hero h2 {
        font-size: 15px;
    }

    .hero h3 {
        font-size: 20px;
    }

    section {
        padding: 40px 30px;
    }

    .grid-2-columns,
    .grid-3-columns,
    .grid-3-columns-footer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .grid-2-columns img {
        width: 100%;
    }

    .grid-2-columns h2 {
        overflow-wrap: break-word;
    }

}